body{
    background-image: url("Img/fondoPokedex.png")
    }

section{
    height: 5px;
}

.pokedexHeader{
    background-color: rgba(43, 43, 43, 0.712);
    padding: 30px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pokemonLaunchXTitulo{
    background-image: url("./Img/pokedexLaunchX.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    width: 500px;
    height: 150px;
    background-size: 500px;
}

.pokeItems{
    padding: 20px 50px;
    display:flex;
    min-height: 50vh;
    position: absolute;
    left: 20%;
    top: 40%;
}

.pokeImagen{
    width: 210px;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    left: 15%;
    top: 28%;
    transform: rotate(13deg);
}

.pokedex{
    background-image: url("./Img/pokedex.png");
    background-repeat: no-repeat;
    width: 700px;
    height: 700px;
    background-size: 700px;
}

.boton_personalizado{
    padding: 10px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #ba1818;
    border-radius: 20px;
    border: 210x solid #000000;
    background-image: url("./Img/buscador.png" );
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right;    
}

.campoBusqueda{
    background: rgb(255, 255, 255);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 20px;
    padding: 5px;
}

.fondoBusqueda{
    padding: 10px 2px;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    background-color: #ba1818;
    border-radius: 20px;
    border: 210x solid #000000;
}

.tStats{
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: #000000d7;
    background-repeat: no-repeat; 
    border-radius: 20px;
    border: 210x solid #000000;
    position: absolute;  
    left: 59%;
    top: 50%;
    transform: rotate(9deg);
}

.stats{
    width: 300px;
    height: 280px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #004e17;
    background-color: #ffffff00;
    background-repeat: no-repeat; 
    position: absolute;  
    left: 50%;
    top: 65%;
    transform: rotate(9deg);
}
